.app {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 1em;
}

.header {
  display: flex;
  align-items: flex-end;
}

.header-wrapper-desktop {
  width: 17%;
  margin: 0px 0px 1em 15.5em;
}

.header-wrapper-tablet {
  width: 23%;
  margin: 0 0 1.5em 5.5em;
}

.header-wrapper-mobile {
  width: 40%;
  margin: 0 0 1.5em 1.5em;
}

.app-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-main-mobile__image {
  width: 42%;
}

.app-main-tablet__image {
  width: 40%;
}

.app-main-desktop__image {
  width: 29%;
}

.app-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2em;
  text-align: center;
}

.app-footer-desktop {
  width: 50%;
  text-align: left;
}

.app-footer-tablet {
  width: 60%;
  text-align: left;
}

.app-footer-mobile {
  width: 80%;
  text-align: left;
}

.app-main__cta {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 6px;
  background-color: #F0F5FE;
  border: 1px #5946DB solid;
  color: #5946DB;
  cursor: pointer;
}

.app-main__cta:focus {
  outline: none;
}

.inline-color {
  color: #5946DB;
}