*, *:before, *:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'San Fransisco', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 1em;
}

.inline-color {
  color: #5946DB;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 1em;
}

.explainer {
  display: flex;
  align-items: flex-end;
}

.explainer-wrapper-desktop {
  width: 17%;
  margin: 0px 0px 1em 15.5em;
}

.explainer-wrapper-tablet {
  width: 23%;
  margin: 0 0 1.5em 5.5em;
}

.explainer-wrapper-mobile {
  width: 40%;
  margin: 0 0 1.5em 1.5em;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-desktop {
  width: 40%;
}
.illustration-tablet {
  width: 50%;
}
.illustration-mobile {
  width: 60%;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 3em;
  text-align: center;
}

.footer-wrapper-desktop {
  width: 50%;
  text-align: left;
}

.footer-wrapper-tablet {
  width: 60%;
  text-align: left;
}

.footer-wrapper-mobile {
  width: 80%;
  text-align: left;
}

.button-custom {
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 6px;
  background-color: #F0F5FE;
  border: 1px #5946DB solid;
  color: #5946DB;
  cursor: pointer;
}

.button-custom:focus {
  outline: none;
}